﻿@model Kuweza.Models.Supplier

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/msgbox.css" rel="stylesheet">
<script type="text/javascript">
    $(document).ready(function () {
      //  some code to show the form is getting ready

    });
</script>

<!-- The Modal -->
<div id="myMessage" class="msg">
    <!-- MsgBox content -->
    <div class="msg-content">
        <div class="msg-header">
            <span class="close">×</span>
            <h3>Message</h3>
            <hr />
        </div>
        <br /><p></p>
        <div class="msg-body" id="msgContent">

        </div>
        <p>
        </p>
    </div>
</div>
<div class="col s12 m12 l12">
    <center>
        <div class="card darken-1" style="width:60%;">
            <div class="card-content black-text">
                <span class="card-title" style="color:black" id="supplierName"><strong>Create New Supplier</strong></span>
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col m6 l6" align="left">Supplier name</div>
                    <div class="col m6 l6"><input type="text" id="sname" name="sname" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Tax Reference</div>
                    <div class="col m6 l6"><input type="text" id="taxref" name="taxref" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Contact Name</div>
                    <div class="col m6 l6"><input type="text" id="contactname" name="contactname" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Telephone #</div>
                    <div class="col m6 l6"><input type="text" id="tel" name="tel" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Fax #</div>
                    <div class="col m6 l6"><input type="text" id="fax" name="fax" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Mobile #</div>
                    <div class="col m6 l6"><input type="text" id="mobile" name="mobile" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Email Address</div>
                    <div class="col m6 l6"><input type="text" id="email" name="email" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Web Address</div>
                    <div class="col m6 l6"><input type="text" id="webaddress" name="webaddress" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Supplier Category</div>
                    <div class="col m6 l6"><input type="text" id="scat" name="scat" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Postal Address Place</div>
                    <div class="col m6 l6"><input type="text" id="pap" name="pap" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Postal Address City</div>
                    <div class="col m6 l6"><input type="text" id="pac" name="pac" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Postal Address Country</div>
                    <div class="col m6 l6"><input type="text" id="pacountry" name="pacountry" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Postal Address Code</div>
                    <div class="col m6 l6"><input type="text" id="pacode" name="pacode" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Delivery Address Place</div>
                    <div class="col m6 l6"><input type="text" id="dap" name="dap" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Delivery Address City</div>
                    <div class="col m6 l6"><input type="text" id="dac" name="dac" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Delivery Address Country</div>
                    <div class="col m6 l6"><input type="text" id="dacountry" name="dacountry" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Delivery Address Area Code</div>
                    <div class="col m6 l6"><input type="text" id="dacode" name="dacode" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">Business Reg#</div>
                    <div class="col m6 l6"><input type="text" id="busreg" name="busreg" value="" /></div>
                </div>
                <div class="row">
                    <div class="col m6 l6" align="left">&nbsp;</div>
                    <div class="col m6 l6"><input type="button" id="btnsubmit" name="btnsubmit" value="Create Supplier" /></div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </center>
</div>
<script type="text/javascript">
 $(document).ready(function () {
     //  some code to show the form is getting ready
 });
     var message = document.getElementById('msgContent');
     var msgframe = document.getElementById('myMessage');
     var span = document.getElementsByClassName("close")[0];
     //Setting action listerners
     // When the user clicks on <span> (x), close the message
     span.onclick = function () {
         msgframe.style.display = "none";
     }
     // When the user clicks anywhere outside of the modal, close it
     window.onclick = function (event) {
         if (event.target == msgframe) {
             msgframe.style.display = "none";
         }
     }
     $('#btnsubmit').click(function () {
        var supplierName = document.getElementById('sname').value;
        var taxRef = document.getElementById('taxref').value;
        var contactName = document.getElementById('contactname').value;
        var tel = document.getElementById('tel').value;
        var fax = document.getElementById('fax').value;
        var mobile = document.getElementById('mobile').value;
        var email = document.getElementById('email').value;

        var webAddress = document.getElementById('webaddress').value;
        var supplierCat = document.getElementById('scat').value;
        var paCity = document.getElementById('pac').value;
        var paPlace = document.getElementById('pap').value;
        var paCode = document.getElementById('pacode').value;
        var paCountry = document.getElementById('pacountry').value;
        var daCity = document.getElementById('dac').value;
        var daPlace = document.getElementById('dap').value;
        var daCode = document.getElementById('dacode').value;
        var daCountry = document.getElementById('dacountry').value;
        var busReg= document.getElementById('busreg').value;
        // Validation input using javascript

        if ((/^\s*$/).test(supplierName)) {
            message.textContent = "Enter supplier name";
            msgframe.style.display = "block";
        }
        else
        if ((/^\s*$/).test(taxRef)) {
            message.textContent = "Enter tax reference";
            msgframe.style.display = "block";
        }
        else
        if ((/^\s*$/).test(email)) {
            message.textContent = "Enter email ";
            msgframe.style.display = "block";
        }
        else
        if ((/^\s*$/).test(busReg)) {
            message.textContent = "Enter business registration number";
            msgframe.style.display = "block";
        }
        else
            //Now lets call ajax post to insert our values
        {
            $.post("/Suppliers/AddSupplier", { "SupplierName": supplierName, "TaxRef": taxRef, "ContactName": contactName, "Tel": tel, "Fax": fax, "Mobile": mobile, "Email": email, "WebAddress": webAddress, "SupplierCat": supplierCat, "DaCity": daCity, "DaCode": daCode, "DaPlace": daPlace, "DaCountry": daCountry, "PaCity": paCity, "PaCode": paCode, "PaPlace": paPlace, "PaCountry": paCountry, "BusReg":busReg });
            message.textContent = "Supplier added successfully";
            msgframe.style.display = "block";
        }
    });
</script>
