﻿@model Kuweza.Models.Supplier

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress05)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress05)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessRegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessRegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RMCDApprovalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RMCDApprovalNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
