﻿@model IEnumerable<Kuweza.Models.Supplier>

@{
    ViewBag.Title = "Update";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/msgbox.css" rel="stylesheet">
<style>
    .ui-autocomplete {
        cursor: pointer;
        height: 120px;
        overflow-y: scroll;
    }

    .editdiv {
        width: auto;
        height: 300px;
        padding-bottom: 50px;
    }

    .deletediv {
        width: auto;
        height: 300px;
        padding-bottom: 50px;
    }

    .companydiv {
        width: auto;
        height: 300px;
        padding-bottom: 50px;
    }

    .button-width {
        width: 100%;
        height: 50px;
    }
</style>
<!-- The Modal -->
<div id="myMessage" class="msg">
    <!-- MsgBox content -->
    <div class="msg-content">
        <div class="msg-header">
            <span class="close">×</span>
            <h3>Message</h3>
            <hr />
        </div>
        <br /><p></p>
        <div class="msg-body" id="msgContent">

        </div>
        <p>
        </p>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <font color="#689000"><center><h2>Update Suppliers</h2></center></font>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="row col-lg-3 col-md-3">
                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Company List</h3><hr />
                        <div id="companylist" class="companydiv">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-7 col-md-7">

                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Drop to edit</h3><hr />
                        <div id="editsup" class="editdiv" ondrop="drop(event)" ondragover="allowDrop(event)">


                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-2 col-md-2">
                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Delete</h3><hr />
                        <div id="del" class="deletediv" ondrop="delcust(event)" ondragover="allowDrop(event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
       companyList();
    })
    var message = document.getElementById('msgContent');
    var msgframe = document.getElementById('myMessage');
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the message
    span.onclick = function () {
        msgframe.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == msgframe) {
            msgframe.style.display = "none";
        }
    }
    function companyList() {
        $.post("/Suppliers/GetCompanyList", function (data) {
            $("#companylist").fadeOut(500);
            $("#companylist").fadeIn(500);
            $("#companylist").html(data);
        });
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.id);
    }
    function dragstart(event) {
        event.dataTransfer.setData("Text", event.target.id);
        event.dataTransfer.setData("CName", event.target.textContent);
    }
    function drop(ev) {
        ev.preventDefault();
        var supplierID = ev.dataTransfer.getData("Text");
      // alert("You dropped " + customerID);
      $.post("/Suppliers/EditSupplier", { "SupplierId": supplierID }, function (data) {
            // get the result and do some magic with it
            // var message = data.Message;
            $("#editsup").fadeOut(500);
            $("#editsup").fadeIn(500);
            $("#editsup").html(data);
        });
    }
    function editSupplier(ID) {
        $.post("/Suppliers/EditSupplier", { "SupplierId": ID }, function (data) {
            // get the result and do some magic with it
            // var message = data.Message;
            $("#editsup").fadeOut(500);
            $("#editsup").fadeIn(500);
            $("#editsup").html(data);
        });
    }
    function delcust(ev) {
        ev.preventDefault();
        var supplierID = ev.dataTransfer.getData("Text");
        var company= ev.dataTransfer.getData("CName");

        var r = confirm("Are you sure you wan to delete: " + company);
        if (r == true) {
            $.post("/Suppliers/DeleteSupplier", {"SupplierId": supplierID });
            message.textContent = "Supplier deleted successfully.";
            msgframe.style.display = "block";
            companyList();
        } else {
            message.textContent = "Delete aborted";
            msgframe.style.display = "block";
        }
    }
    function updateSupplier(ID) {
        var customerName = document.getElementById('sname').value;
        var contactName = document.getElementById('contactname').value;
        var tel = document.getElementById('tel').value;
        var fax = document.getElementById('fax').value;
        var mobile = document.getElementById('mobile').value;
        var email = document.getElementById('email').value;
        var webAddress = document.getElementById('webaddress').value;
        var supplierCat = document.getElementById('scat').value;
        var paCity = document.getElementById('pac').value;
        var paPlace = document.getElementById('pap').value;
        var paCode = document.getElementById('pacode').value;
        var paCountry = document.getElementById('pacountry').value;
        var daCity = document.getElementById('dac').value;
        var daPlace = document.getElementById('dap').value;
        var daCode = document.getElementById('dacode').value;
        var daCountry = document.getElementById('dacountry').value;
        var busReg = document.getElementById('busreg').value;
        // Validation input using javascript

        if ((/^\s*$/).test(customerName)) {
        
            message.textContent = "Enter supplier name";
            msgframe.style.display = "block";
        }
        else
            if ((/^\s*$/).test(email)) {
                message.textContent = "Enter email ";
                msgframe.style.display = "block";
            }
            else
                if ((/^\s*$/).test(busReg)) {
                    message.textContent = "Enter business registration number";
                    msgframe.style.display = "block";
                }
                else
                    //Now lets call ajax post to insert our values
                {
                    $.post("/Suppliers/UpdateSupplier", { "ID": ID, "CustomerName": customerName, "ContactName": contactName, "Tel": tel, "Fax": fax, "Mobile": mobile, "Email": email, "WebAddress": webAddress, "SupplierCat": supplierCat, "DaCity": daCity, "DaCode": daCode, "DaPlace": daPlace, "DaCountry": daCountry, "PaCity": paCity, "PaCode": paCode, "PaPlace": paPlace, "PaCountry": paCountry, "BusReg": busReg });
                    message.textContent = "Supplier updated successfully";
                    msgframe.style.display = "block";
                }
    };
</script>