﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Compiled and minified JavaScript -->
    <title>@ViewBag.Title - Kuweza CC</title>
    <link href="~/Content/shieldui/css/shieldui-all.min.css" rel="stylesheet" />
    <link href="~/Content/shieldui/css/light/all.min.css" rel="stylesheet" />
    <link href="~/Content/lolliclock/lolliclock.css" rel="stylesheet" />
    <link href="~/Content/style-personal.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
    <link href="~/Content/intltelinput/intlTelInput.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="~/Content/shieldui/js/shieldui-all.min.js"></script>
    <script src="@Url.Content("~/Scripts/lolliclock/lolliclock.js")" type="text/javascript"></script>
    <script src="~/Scripts/intlTelInput.js"></script>
</head>
<body>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <div class="navbar-fixed" style="color:#fff">
                <nav class="light-blue lighten-1" style="padding: 0 1%;color:#fff" role="navigation">
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo center">KUWEZA C.C (SAGE INTERGRATION)</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                        <ul class="side-nav collapsible card light-blue lighten-1" id="mobile-demo" style="min-height:0px;border:none;color:#fff">
                            <li class="blue">
                                <div class="card-title blue" style="color:#fff">
                                    <div class="row valign-wrapper">
                                        <i class="material-icons valign circle" style="color:#fff">account_circle</i>
                                    </div>
                                    <div class="row">
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </div>
                            </li>
                            <li><a href="@Url.Action("Index","Home")" style="color:#fff">Dashboard</a></li>
                            <li class="no-padding light-blue lighten-1">
                                <ul class="collapsible collapsible-accordion light-blue lighten-1">
                                    <li>
                                        <a class="collapsible-header" style="color:#fff">Jobs</a>
                                        <div class="collapsible-body">
                                            <ul class="light-blue lighten-1">
                                                <li><a href="@Url.Action("Index","Home")" style="color:#fff">Dashboard</a></li>
                                                <li><a href="@Url.Action("GetAll","Customers")" style="color:#fff">Place an Enquiry</a></li>
                                                <li><a href="@Url.Action("Index","Jobs")" style="color:#fff">View Jobs</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="no-padding light-blue lighten-1">
                                <ul class="collapsible collapsible-accordion light-blue lighten-1">
                                    <li>
                                        <a class="collapsible-header" style="color:#fff">Users</a>
                                        <div class="collapsible-body">
                                            <ul class="light-blue lighten-1">
                                                <li><a href="@Url.Action("Index","Users")" style="color:#fff">Users Index</a></li>
                                                <li><a href="@Url.Action("Create","Users")" style="color:#fff">Add a User </a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="no-padding light-blue lighten-1">
                                <ul class="collapsible collapsible-accordion light-blue lighten-1">
                                    <li>
                                        <a class="collapsible-header" style="color:#fff">Clients</a>
                                        <div class="collapsible-body">
                                            <ul class="light-blue lighten-1">
                                                <li><a href="@Url.Action("Index","Customers")" style="color:#fff">Client Index</a></li>
                                                <li><a href="@Url.Action("Create","Customers")" style="color:#fff">Add Client </a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="no-padding light-blue lighten-1">
                                <ul class="collapsible collapsible-accordion light-blue lighten-1">
                                    <li>
                                        <a class="collapsible-header" style="color:#fff">Suppliers</a>
                                        <div class="collapsible-body">
                                            <ul class="light-blue lighten-1">
                                                <li><a href="@Url.Action("Index","Suppliers")" style="color:#fff">Supplier Index</a></li>
                                                <li><a href="@Url.Action("Create","Suppliers")" style="color:#fff">Add Supplier</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="no-padding light-blue lighten-1">
                                <ul class="collapsible collapsible-accordion light-blue lighten-1">
                                    <li>
                                        <a class="collapsible-header" style="color:#fff">Warehouses</a>
                                        <div class="collapsible-body">
                                            <ul class="light-blue lighten-1">
                                                <li><a href="@Url.Action("Index","Warehouse")" style="color:#fff">Warehouse Index</a></li>
                                                <li><a href="@Url.Action("Create","Warehouse")" style="color:#fff">Add Warehouse </a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        }
        if (HttpContext.Current.User.IsInRole("RegularUser"))
        {
            <div class="navbar-fixed" style="color:#fff">
                <nav class="light-blue lighten-1" style="padding: 0 1%;color:#fff" role="navigation">
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo center">Logo</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                        <ul class="side-nav collapsible card light-blue lighten-1" id="mobile-demo" style="min-height:0px;border:none;color:#fff">
                            <li class="blue">
                                <div class="card-title blue" style="color:#fff">
                                    <div class="row valign-wrapper">
                                        <i class="material-icons valign circle" style="color:#fff">account_circle</i>
                                    </div>
                                    <div class="row">
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </div>
                            </li>
                            <li class="no-padding light-blue lighten-1">
                                <ul class="collapsible collapsible-accordion light-blue lighten-1">
                                    <li>
                                        <a class="collapsible-header" style="color:#fff">My Jobs</a>
                                        <div class="collapsible-body">
                                            <ul class="light-blue lighten-1">
                                                <li><a href="@Url.Action("Details","Users",new{id=Url.RequestContext.RouteData.Values["id"]})" style="color:#fff">Dashboard</a></li>
                                                <li><a href="@Url.Action("PlaceOrder","Users",new{id=Url.RequestContext.RouteData.Values["id"]})" style="color:#fff">Place an Enquiry</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        }
    }
    else
    {
        <div class="navbar-fixed" style="color:#fff">
            <nav class="light-blue lighten-1" style="padding: 0 1%;color:#fff" role="navigation">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo center">Logo</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                    <ul class="side-nav collapsible card light-blue lighten-1" id="mobile-demo" style="min-height:0px;border:none;color:#fff">
                        <li class="blue">
                            <div class="card-title blue" style="color:#fff">
                                <div class="row valign-wrapper">
                                    <i class="material-icons valign circle" style="color:#fff">account_circle</i>
                                </div>
                                <div class="row">
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    }
    <main>
        <div class="section no-pad-bot card-panel" id="index-banner">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer" style="background-color: #57AFF5">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Kuweza</h5>
                    <p class="grey-text text-lighten-4"></p>
                </div>
                @*<div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
        <div class="footer-copyright" style="background-color: #2196F3">
            <div class="container">
                &copy; @DateTime.Now.Year - Kusasa Information Systems (Pty) Ltd.
                @*<a class="grey-text text-lighten-4 right" href="#!">More Links</a>*@
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <script>

        $(document).ready(function () {
            $('select').material_select();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });

            $(".button-collapse").sideNav();
        });
    </script>
</body>
</html>
