﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a class='dropdown-button' href='#' data-activates='dropdown1' style="color:#fff">Hello @User.Identity.GetUserName() !<i class="material-icons small right">expand_more</i></a>
        <ul id='dropdown1' class='dropdown-content'>
            <li>
                @Html.ActionLink("Manage Profile", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li class="divider"></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <a class='dropdown-button' href='#' data-activates='dropdown1' style="color:#fff">Not Logged In!<i class="material-icons small right">expand_more</i></a>
    <ul id='dropdown1' class='dropdown-content'>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
