﻿@model Kuweza.Models.Job

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Jobs", FormMethod.Post, new { @class = "col s12", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfEquiry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeOfEquiry", new List<SelectListItem>()
    {
        new SelectListItem() { Text = "Product", Value = "Product" },
        new SelectListItem() { Text = "Service", Value = "Service", Selected = true }
    }, "Select ...")
                @Html.ValidationMessageFor(model => model.TypeOfEquiry, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.ProofOfEnquiry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-field col s10">
                @*@Html.EditorFor(model => model.ProofOfEnquiry, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.ProofOfEnquiry, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.ProofOfEnquiry)*@
                <div class="file-field input-field">
                    <input class="file-path validate" type="text" />
                    <div class="btn">
                        <span>File</span>
                        <input type="file" id="inputFile" name="EnquiryUpload" multiple="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfCommunication, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MethodOfCommunication", new List<SelectListItem>()
    {
        new SelectListItem() { Text= "Mail", Value = "Mail", Selected = true },
         new SelectListItem() { Text= "Skype", Value = "Skype"  },
          new SelectListItem() { Text= "Facebook", Value = "Facebook"  },
            new SelectListItem() { Text= "Call", Value = "Call"  },
              new SelectListItem() { Text= "SMS", Value = "SMS"  },
            new SelectListItem() { Text= "Visual", Value = "Visual" }
    }, "Select ...")
                @Html.ValidationMessageFor(model => model.MethodOfCommunication, "", new { @class = "text-danger" })
            </div>
        </div>
 
        <div class="form-group">
            @Html.LabelFor(model => model.AssignTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssignTo, (IEnumerable<SelectListItem>)ViewBag.UserName)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div> 
        @ViewBag.Message

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}