﻿
@model Kuweza.Models.Job

@{
    ViewBag.Title = "CreateList";
}
@{ 
}
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<style>
    .ui-autocomplete {
        cursor: pointer;
        height: 120px;
        overflow-y: scroll;

    }
     .dropdiv {
        width:auto;
        height: 540px;
        padding:10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color:lightblue;
    }
      .deletediv {
        width:auto;
        height: 540px;

        padding:10px;
    }
     .sourcediv {
        width:auto;
        height: 540px;
        padding-bottom:50px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // $("#products").load('/Items/AllProducts');
        itemsList();
    })
    function itemsList() {
        $.post("/Items/GetInitialItemList", function (data) {
            $("#products").fadeOut(500);
            $("#products").fadeIn(500);
            $("#products").html(data);
        });
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {       
        ev.dataTransfer.setData("ID", ev.target.id);
    }
    function dragitem(ev, pid) {
        sessionStorage.setItem('PID', pid);
    }
    function dragstart(event) {
        event.dataTransfer.setData("Text", event.target.textContent);
     
    }
    function drop(ev) {
        var rnd = Math.random() * 50 + 1;
        var data = ev.dataTransfer.getData("Text");
        var productId = sessionStorage.getItem('PID');
        var jobId = "@Url.RequestContext.RouteData.Values["id"]";
        var clientId = "@Request.QueryString["clientid"]";
        $.post("/Products/AddItem", { "ProductName": data, "JobNumber": jobId, "ClientId": clientId, "RandomId":rnd, "SageProductId":productId });
        var lst = $("#lstselectedproducts");
        var li = "<center><font color='#FDFEFE'><h4><li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + " </li></h4></font></center>";
        li.textContent = data;
        lst.append(li);
    }
    function delItem(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("ID");
        var el = document.getElementById(data);
        el.parentNode.removeChild(el);
        $.post("/Products/DeleteItem", { "RandomID": data });
    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<font color="#689000"><center><h2>Order #:@Url.RequestContext.RouteData.Values["id"]</h2></center></font>

<script src="~/Scripts/bootstrap.min.js"></script>
<div class="container">
            <div class="row">
                <div class="row col-lg-4 col-md-4">
                    <div class="card darken-1">                     
                        <div class="card-content black-text">
                            <h3>Items List</h3>
                            <hr/>
                            <div id="products" class="sourcediv"></div>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-4 col-md-4">               
                    <div class="card darken-1">
                        
                        <div class="card-content black-text">
                            <h3>Selected Items</h3>
                            <div id="order" class="dropdiv" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <ul id="lstselectedproducts"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-4 col-md-4">
                    <div class="card darken-1">
                       
                        <div class="card-content black-text">
                            <h3>Drop to delete</h3>
                            <hr />
                            <div id="del" class="deletediv" ondrop="delItem(event)" ondragover="allowDrop(event)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}