﻿@model Kuweza.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfEquiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEquiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quoted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quoted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KuwezaQuoteNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KuwezaQuoteNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProofOfEnquiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProofOfEnquiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MethodOfCommunication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MethodOfCommunication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
