﻿@model IEnumerable<Kuweza.Models.Job>

@{
    ViewBag.Title = "Jobs";
}

<h2>Jobs</h2>

<p>
    @Html.ActionLink("Create New Job", "GetAll", "Customers", null, new { id = 1 })    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobNumber)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEquiry)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.DateReceived)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.MethodOfCommunication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobNumber)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfEquiry)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DateReceived)
        </td>
              
        <td>
            @Html.DisplayFor(modelItem => item.MethodOfCommunication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            <div class="badge alert-info"> @Html.ActionLink("Download", "ProofOfEnquiry", new { fileName = item.ProofOfEnquiry })</div>|
            <div class="badge alert-info">@Html.ActionLink("Add Items", "CreateList", new { id = item.JobNumber, clientid=item.ClientId })</div>|
            <div class="badge alert-info">@Html.ActionLink("Allocate Suppliers", "Index", "Products", new { id = item.JobNumber, clientid = item.ClientId }, null)</div>|
            <div class="badge alert-info">@Html.ActionLink("Final Quote", "Index", "ItemsToSuppliers", new { id = item.JobNumber, clientid = item.ClientId }, null)</div> |
            <div class="badge alert-info"> @Html.ActionLink("Edit", "Edit", new { id = item.JobId })</div>
</td>
    </tr>
}
</table>