﻿@model IEnumerable<Kuweza.Models.Supplier>
@{
    ViewBag.Title = "Index";
    int i = 0;
}
<style type="text/css">
    .list-products {
    font-weight: normal;
    background-color:cornflowerblue;
    width: 100%;
}
     .listdiv {
        width: auto;
        height: 240px;
        padding-bottom: 50px;
     
    }
     .modal-badge {
    width: 100%;
}
     dt:hover {
        cursor: pointer;
    }
     #dropdiv {
        width: 450px;
        height: 540px;
        padding-bottom:50px;
    }
    table, td {
        background-color: azure;
        border: double;
    }

    #dvleft {
        background-color: azure;
        height: 520px;
        overflow: auto;
        width: auto;
    }
     #dvCenter {
        height: 600px;
        overflow: auto;
        width: auto;
    }

    .dvmainrigth, #dvright {
        background-color: azure;
        height: 200px;
        overflow:auto;
        width: auto;
    }
</style>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var id = 1;

        loadProducts();
        loadInvoiceFormats();
       // getSuppliers();
        //Function to set events for Drag-Drop
        function setEvents() {
            // Drag and drop selectected items
            // Its setting drag and drop capabilities for the first 10 items in div list. So the maximum allocation is ten companies at the same time. The companies can loop successfully but setting the drag and drop capabilities on run time has been a nightmare. The it was enabling the drop but it wasnt dropping. This has worked although. If u get this on a loop email me the code at mufaroprogrammer@gmail.com. Lets hope buy the time you find out this I will be still alive!!
                $("#dvright-1").on('drop', function (evt) {
                        var id = 1;
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-1');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                    //Calling ajax call to add item selected to the database.
                        var customerId =  "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId":companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId":customerId });
                        var lst = $("#lstselectedproducts-1");
                        var li = "<li id="+ rnd +" draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-1").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-2").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-2');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId = "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId": companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId": customerId });
                        var lst = $("#lstselectedproducts-2");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-2").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-3").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-3');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId =  "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId": companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId": customerId });
                        var lst = $("#lstselectedproducts-3");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-3").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-4").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-4');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId = "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId": companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId": customerId });
                        var lst = $("#lstselectedproducts-4");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-4").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-5").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-5');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId = "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId": companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId": customerId });
                        var lst = $("#lstselectedproducts-5");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-5").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-6").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-6');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId = "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId":companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId":customerId });
                        var lst = $("#lstselectedproducts-6");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-6").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-7").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-7');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId = "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId":companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId":customerId });
                        var lst = $("#lstselectedproducts-7");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-7").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-8").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-8');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId = "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId": companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId": customerId });
                        var lst = $("#lstselectedproducts-8");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-8").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-9").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-9');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId = "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId":companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId":customerId });
                        var lst = $("#lstselectedproducts-9");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-9").on('dragover', function (evt) {
                        evt.preventDefault();
                    });

                    $("#dvright-10").on('drop', function (evt) {
                        var rnd = Math.random() * 50 + 1;
                        var pid = sessionStorage.getItem('PID');
                        var companyId = sessionStorage.getItem('companyid-10');
                        var jnum = "@Url.RequestContext.RouteData.Values["id"]";
                        evt.preventDefault();
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        // Spliting text to remove seperate quantity and item name
                        var parts = data.split(':', 2);
                        var item_name = parts[0];
                        var item_quantity = parts[1];
                        //Calling ajax call to add item selcted to the database.
                        var customerId = "@Request.QueryString["clientid"]";
                        $.post("/ItemsToSuppliers/AddItem", { "ID": id, "RandomID": rnd, "ProductID": pid, "ProductName": item_name, "SupplierId":companyId, "JobNumber": jnum, "Quantity": item_quantity, "CustomerId":customerId });
                        var lst = $("#lstselectedproducts-10");
                        var li = "<li id=" + rnd + " draggable='true' ondragstart='drag(event)'>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });
                    $("#dvright-10").on('dragover', function (evt) {
                        evt.preventDefault();
                    });
        }

        ///Function to load products using call to WEB API. I used routing for this.
        function loadProducts() {
            var JobNumber = "@Url.RequestContext.RouteData.Values["id"]";
            $.post("/Products/GetItems", { "JobNumber": JobNumber }, function (data) {
                $("#lstproducts").fadeOut(500);
                $("#lstproducts").fadeIn(500);
                $("#lstproducts").html(data);
            });
            setEvents();
        }
        function loadInvoiceFormats() {
            $.post("/Invoices/SelectInvoiceFormats", function (data) {
                $("#invoicelist").fadeOut(500);
                $("#invoicelist").fadeIn(500);
                $("#invoicelist").html(data);
            });
        }
    });
</script>
<script>
function allowDrop(ev)
{
ev.preventDefault();
}
function drag(ev)
{
    ev.dataTransfer.setData("Text", ev.target.id);
}
function dragstart(event, pid) {
    sessionStorage.setItem('PID', pid);
    event.dataTransfer.setData("Text", event.target.textContent);
}
function drop(ev)
{
ev.preventDefault();
var data=ev.dataTransfer.getData("Text");
var el = document.getElementById(data);
el.parentNode.removeChild(el);
$.post("/ItemsToSuppliers/DeleteItem", { "RandomID": data });
}
function selectQuote(clicked_format) {
    //Set insert items button visible
    $("#insertList").show();
    var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
    var supplierId = sessionStorage.getItem('sendToCompanyId');
    sessionStorage.setItem('currentInvoice', clicked_format);
    //alert("You clicked: " + clicked_format);
   $.post("/Invoices/OpenSelectedInvoice", { "InvoiceID": clicked_format, "CompanyID":supplierId, "JobNumber" : jobNumber});
}
 function getSuppliers() {
        $.post("/Suppliers/GetSuppliers", function (data) {
            //  $("#invoicelist").fadeOut(500);
            //  $("#invoicelist").fadeIn(500);
            $("#dvCenter").html(data);
        });
 }
 function searchSuppliers() {
     var find = $('#search').val();
     $.post("/Suppliers/SearchSuppliers", { "search": find}, function (data) {
         //  $("#invoicelist").fadeOut(500);
         //  $("#invoicelist").fadeIn(500);
         $("#dvCenter").html(data);
     });
 }
</script>
<div class="row">
    <div class="col-sm-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:large;"><b>Search Suppliers</b> <input type="text" id="search" name="search" onchange="searchSuppliers();" onpaste="this.onchange();" oninput="this.onchange();" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:medium;" /></div>
</div>
<div class="row">
    <div class="col s12 m4">

        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title" style="color:black"><strong>All Products List</strong></span>
                <div id="dvleft">
                 <ul id="lstproducts"></ul>
                </div>
                </div>
            </div>
        </div>

    <div class="col s12 m4">
        <div id="dvCenter">
            <!--Iterating the companies from sage and generating cards-->
           @foreach (var item in Model)
            {
                i++;
                <!--Getting email addresses for suppliers and storing them in sessions-->
            <script type="text/javascript">
                    sessionStorage.setItem('email-@i', '@item.Email');
                    sessionStorage.setItem('companyid-@i', '@item.ID');
            </script>
                <div class="card darken-1" id="card-@i">
                    <div class="card-content black-text">
                        <span class="card-title" style="color:black"><strong>@Html.DisplayFor(modelItem => item.Name)</strong></span>

                        <div id="dvright-@i" class="dvmainrigth">
                            <ul id="lstselectedproducts-@i"></ul>
                        </div><br />
                        <input type="button" class="alert-info glyphicon glyphicon-plus-sign btn-large" id="btn-@i" name="btn-@i" value="Review & Send Quote">
                    </div>
                </div>
           }
        </div>
    </div>
    <div class="col s12 m4">

        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title" style="color:black"><strong>Drop Here To Remove</strong></span>

                <div class="col-lg-4 alert-warning" id="dropdiv" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h3>Drop!!!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
   /* The Modal (background) */
       .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
    position:center;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


    }
    /* Modal Header */
    .modal-header {
    padding: 2px 2px;
    background-color:burlywood;
    color: white;
    }

    /* Modal Body */
    .modal-body {padding: 2px 16px;}

    /* Modal Footer */
   .modal-footer {
       height:250px;
    }

    /* The Close Button */
    .close {
        color:red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <!-- The Modal -->
    <div id="myModal" class="modal" >
    <!-- Modal content -->
        <div class="modal-content">

            <div class="modal-badge badge">
                <div class="modal-header">
                    <span class="close">×</span>
                    <h2>Finalise Quote</h2>
                </div>
            </div>
          <br /><p></p>
            <div class="modal-body" id="bodyContent">
                <button type="button" class="alert-info btn-sm" id="insertList">Insert Items To Document</button> &nbsp; <button type="button" class="alert-info btn-sm" id="sendNow">Send Quote DOC</button>
            &nbsp; <button type="button" class="alert-info btn-sm" id="sendNowPdf">Send Quote PDF</button>

             </div>
            <p></p>
            <hr />
            <p>
                <div id="emailwrapper">
                    <font color="#800000">
                        NB: Select the invoice format to use. If you select a wrong format you can simply click the other one. Put this code [<font color="#090060">PTL001</font>] on document to the position where you want the items list to be populated 
                        Click 'Send Quote' to send.
                    </font>
                    <div id="dvemail">
                       
                    </div>
                </div>
            </p> 

            <div class="card darken-1">

                <div class="card-content black-text">
                    <h3>Select Invoice Format</h3><hr />
                    <div id="invoicelist" class="listdiv">


                    </div>
                    <div id="modalWrapper">
                        <hr class="hr" />
                        <div class="row"><b>Custom Message To Client</b><input type="text" id="customMessage" name="customMessage" value="" placeholder="Enter custom email message here" /></div>
                        <div class="row"><b>Enter CC Email Address</b><input type="text" id="ccEmail" name="ccEmail" value="" placeholder="Enter cc email address here" /></div>
                    </div>
                    <center><div id="mMessageSend" class="alert-success badge send-badge"><center>Waiting to send...</center></div></center>
                </div>
            </div>
        </div>
     </div>


 <script type="text/javascript" >
     var span = document.getElementsByClassName("close")[0];
     var modal = document.getElementById('myModal');
     //Setting action listerners
     // When the user clicks on <span> (x), close the modal
     span.onclick = function () {
         sessionStorage.removeItem('sendToEmail1');
         modal.style.display = "none";
     }
     // When the user clicks anywhere outside of the modal, close it
     window.onclick = function (event) {
         if (event.target == modal) {
             modal.style.display = "block";
         }
     }
     // Modal send quote clik clikl event
     $('#sendNow').click(function () {
         var sendToEmail1 = sessionStorage.getItem('sendToEmail1');
         var customMessage = document.getElementById('customMessage').value;
         var supplierId = sessionStorage.getItem('sendToCompanyId');
         var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         var sendToEmail2 = document.getElementById('ccEmail').value;
         $.post("/ReportEmailer/Do", { "MainEmail": sendToEmail1, "CCEmail": sendToEmail2, "JobNumber": jobNumber, "SupplierId": supplierId, "CustomMessage": customMessage });
         alert("Quote sent to supplier successfully to email: " + sendToEmail1 );
         sessionStorage.removeItem('sendToEmail1');
         var card = sessionStorage.getItem('cardId');
         modal.style.display = "none";
         //Remove card from list
         $(card).remove();
     });
     // Modal send quote clik clikl event
     $('#sendNowPdf').click(function () {
         var sendToEmail1 = sessionStorage.getItem('sendToEmail1');
         var customMessage = document.getElementById('customMessage').value;
         var supplierId = sessionStorage.getItem('sendToCompanyId');
         var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         var sendToEmail2 = document.getElementById('ccEmail').value;
         $.post("/ReportEmailer/SendPdf", { "MainEmail": sendToEmail1, "CCEmail": sendToEmail2, "JobNumber": jobNumber, "SupplierId": supplierId, "CustomMessage":customMessage });
         alert("Quote sent to supplier successfully to email: " + sendToEmail1 );
         sessionStorage.removeItem('sendToEmail1');
         var card = sessionStorage.getItem('cardId');
         modal.style.display = "none";
         //Remove card from list
         $(card).remove();
     });
     // Modal send quote clik clikl event
     $('#insertList').click(function () {
         $("#sendNow").show();
         $("#sendNowPdf").show();
         $("#insertList").hide();
         var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         var supplierId = sessionStorage.getItem('sendToCompanyId');
         //Get stored invoice
         var invoiceId = sessionStorage.getItem('currentInvoice');
         $.post("/Invoices/InsertItems", { "InvoiceID": invoiceId, "CompanyID": supplierId, "JobNumber": jobNumber });
         
     });
     // cards click events
     // Its setting on click event capabilities for the first 10 items in divs. So the maximum allocation is ten companies at the same time. Looping the buttons and assigning onclick event was easy but the challenge of getting the div id was a night mare again. I think the divs don like that, aim not sure. This has worked though. If u get this on a loop email me the code at mufaroprogrammer@gmail.com. Lets hope by the time you find out this I will be still alive!!
     // The divs iam setting I know they exist because I have looped them during loading companies.
     $('#btn-1').click(function () {
        // if ($.trim($('#dvright-1').html()).length<37) {
             alert("There are no items in list aajan. Error!!!!");
        // }
       /*  else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             // Setting a session for the displayed card 1id
             sessionStorage.setItem('cardId', '#card-1');
             var email = sessionStorage.getItem('email-1');
             sessionStorage.setItem('sendToEmail1', email);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-1');
             sessionStorage.setItem('sendToCompanyId', companyid);
           //  $("#bodyContent").html($("#dvright-1").text());
             $(this).find('#dvemail').text("My emails here");
             modal.style.display = "block";
         }
          */
     });
     $('#btn-2').click(function () {
         if ($.trim($('#dvright-2').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-2');
             var email1 = sessionStorage.getItem('email-2');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-2');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
     $('#btn-3').click(function () {
         if ($.trim($('#dvright-3').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-3');
             var email1 = sessionStorage.getItem('email-3');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-3');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
     $('#btn-4').click(function () {
         if ($.trim($('#dvright-4').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-4');
             var email1 = sessionStorage.getItem('email-4');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-4');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
     $('#btn-5').click(function () {
         if ($.trim($('#dvright-5').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-5');
             var email1 = sessionStorage.getItem('email-5');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-5');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
     $('#btn-6').click(function () {
         if ($.trim($('#dvright-6').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-6');
             var email1 = sessionStorage.getItem('email-6');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-6');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
     $('#btn-7').click(function () {
         if ($.trim($('#dvright-7').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-7');
             var email1 = sessionStorage.getItem('email-7');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-7');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
     $('#btn-8').click(function () {
         if ($.trim($('#dvright-8').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-8');
             var email1 = sessionStorage.getItem('email-8');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-8');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
     $('#btn-9').click(function () {
         if ($.trim($('#dvright-9').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-9');
             var email1 = sessionStorage.getItem('email-9');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-9');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
     $('#btn-10').click(function () {
         if ($.trim($('#dvright-10').html()).length < 37) {
             alert("There are no items in list. Error!!!!");
         }
         else {
             //hide unnecessary buttons
             $("#insertList").hide();
             $("#sendNowPdf").hide();
             $("#sendNow").hide();
             sessionStorage.setItem('cardId', '#card-10');
             var email1 = sessionStorage.getItem('email-10');
             sessionStorage.setItem('sendToEmail1', email1);
             // Storing selected company id
             var companyid = sessionStorage.getItem('companyid-10');
             sessionStorage.setItem('sendToCompanyId', companyid);
             modal.style.display = "block";
         }
     });
</script>