﻿@model Kuweza.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Home Page";
}
<style>
    dt:hover {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col s12 m6 l3">
        <div class="card darken-1 z-depth-3">
            <div class="card-content black-text">
                <span class="card-title" style="color:black"><strong>Customers Management</strong></span>
                <dl class="dl-horizontal">
                 
                        <dt onclick="document.location='@(Url.Action("Index", "Customers"))'">List Customers</dt>

                </dl>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn" href="@Url.Action("Index","Customers")">Index</a>
                <a class="waves-effect waves-light btn" href="@Url.Action("Create","Customers")">New</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card darken-1 z-depth-3">
            <div class="card-content black-text">
                <span class="card-title" style="color:black"><strong>Product Management</strong></span>
                <dl class="dl-horizontal">
                  
                        <dt onclick="document.location='@(Url.Action("Index","Items"))'">List Items</dt>
                    
                </dl>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn" href="@Url.Action("Index","Items")">Index</a>
                <a class="waves-effect waves-light btn" href="@Url.Action("Create","Items")">New</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card darken-1 z-depth-3">
            <div class="card-content black-text">
                <span class="card-title" style="color:black"><strong>Supplier Management</strong></span>
                <dl class="dl-horizontal">
                
                        <dt onclick="document.location='@(Url.Action("Index","Suppliers"))'">List Suppliers</dt>
                   
                </dl>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn" href="@Url.Action("Index","Suppliers")">Index</a>
                <a class="waves-effect waves-light btn" href="@Url.Action("Create","Suppliers")">New</a>
            </div>
        </div>
    </div>
</div>
