﻿@model Kuweza.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "col s12", role = "form" }))
    {
        <div class="row">
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary()
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "validate" })
                        @Html.LabelFor(m => m.UserName)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                        @Html.LabelFor(m => m.Password)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate" })
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                </div>
                @* <div class="row">*@
                <p>
                    <input name="role" type="radio" id="Admin" value="Admin" />
                    <label for="Admin">Admin</label>
                </p>
                <p>
                    <input name="role" type="radio" id="Regular" value="RegularUser" />
                    <label for="Regular">Normal</label>
                </p>
                @*  </div> *@
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.UserFName, new { @class = "validate" })
                        @Html.LabelFor(m => m.UserFName)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.UserSName, new { @class = "validate" })
                        @Html.LabelFor(m => m.UserSName)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.UserPhone, new { @class = "validate" })
                        @Html.LabelFor(m => m.UserPhone)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.UserEmail, new { @class = "validate" })
                        @Html.LabelFor(m => m.UserEmail)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Create User
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


