﻿@model IEnumerable<Kuweza.Models.ItemsToSupplier>
@{
    ViewBag.Title = "Create Final Quotes";
}

<h2>Create Final Quote From Suppliers Responses</h2>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
<style type="text/css">
    .list-products {
        font-weight: normal;
        background-color: cornflowerblue;
        width: 100%;
    }

    .modal-badge {
        width: 100%;
    }
    .progressBar {
             
    }
     .email-badge {
        width: 100px;
        height:30px;
        align-self:flex-end;
        background-color:chocolate;
        color:white;
        padding-top:10px;
    }
     .send-badge {
        width: 100%;
        height:30px;
        padding:10px;
        float:inherit;

    }
    .rowHover:hover{
    color:chocolate ;
    font-weight:bold;
}
     .email-badge:hover{
    background-color:forestgreen;
}
    dt:hover {
        cursor: pointer;
    }

    #dropdiv {
        width: auto;
        height: 540px;
        overflow: auto;
        padding:0px;
    }

    table, td {
        background-color: azure;
        border: double;
    }

    #dvleft {
        height: 540px;
        overflow: auto;
        width: auto;
    }

    #dvCenter {
        height: 540px;
        overflow: auto;
        width: auto;
    }
     #itemsWrapper {
        height:350px;
        overflow: auto;
        width: auto;
    }
    .hr {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        height: 5px;
        background-color:burlywood;
        color:#f3f6db;
        border: 0 none;
}
   .rowHover {
   font-size: 14px;
   font-family: 'Josefin Sans';
   cursor:pointer;
}
   #companyItemsDiv {
   font-size: 14px;
   font-family: 'Josefin Sans';
}
</style>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">
    $body = $("dvleft");

    $(document).ready(function () {
        var CompanyId = sessionStorage.getItem('companyID');
        loadFinalItems();
        loadCompanies();
        loadFinalInvoiceFormats();
        $.fn.datepicker.defaults.format = "mm/dd/yyyy";
        $('.datepicker').datepicker({
            startDate: '-3d'
        });
       
    });
    function loadCompanies() {
        var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
        var customerId = "@Request.QueryString["clientid"]";
       // alert("Supplier id is :" + customerId + "and job # :" + jobNumber);
        $.post("/ItemsToSuppliers/LoadCompanies", { "CustomerId": customerId, "jobNumber": jobNumber }, function (data) {
            $("#dvleft").html(data);
        });
    }
    function loadFinalItems() {
        var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
        var customerId = "@Request.QueryString["clientid"]";
        $.post("/ItemsToSuppliers/GetFinalItems", { "CustomerId": customerId, "jobNumber": jobNumber }, function (data) {
          //  $("#dropdiv").fadeOut(500);
          //  $("#dropdiv").fadeIn(500);
            $("#dropdiv").html(data);
        });
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.textContent);
    }
    function dragstart(event) {
        event.dataTransfer.setData("Text", event.target.id);
    }
    function clickstart(clicked_id) {
        var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
        sessionStorage.setItem('companyID', clicked_id);
        $.post("/ItemsToSuppliers/GetItems", { "SupplierId": clicked_id, "JobNumber":jobNumber }, function (data) {
            // get the result and do some magic with it
            // var message = data.Message;
           // $("#dvCenter").fadeOut(500);
           // $("#dvCenter").fadeIn(500);
            $("#dvCenter").html(data);
            document.getElementById("supplierName").innerHTML = "Items list for: " + infor;
        });
    }
    function updateProduct(clicked_id) {
            $.post("/ItemsToSuppliers/GetItemsUpdate", {
                "ID": clicked_id
            },
           function (response, status) {
               var qty = response['qty'];
               var costPerItem = response['costPerItem'];
               var width = response['width'];
               var height = response['height'];
               var weight = response['weight'];
               var deliveryDate = response['deliveryDate'];
               var markup = response['markup'];
               var markUpCost = response['markUpCost'];
               var size = response['size'];
               var length = response['length'];
               //Put some values here
               $("#qty").val(qty);
               $("#price").val(costPerItem);
               $("#width").val(width);
               $("#height").val(height);
               $("#weight").val(weight);
               $("#length").val(length);
               $("#size").val(size);
               $("#ddate").val(deliveryDate);
               $("#markup").val(markup);
               $("#markUpCost").val(markUpCost);
               sessionStorage.setItem('productID', clicked_id);
               modal.style.display = "block";
           }
           );
    }
    function addToList(clicked_id) {
        sessionStorage.setItem('productID', clicked_id);
        var CompanyId = sessionStorage.getItem('companyID');
        $.post("/ItemsToSuppliers/UpdateItemStatus", {
            "ID": clicked_id
        },
        function (response, status) {
            $.post("/PaymentsDeliveries/Add", {
                "ID": clicked_id
            });
        }
        );
        addProgress();
    }
    function undoItemAdd(clicked_id) {
        sessionStorage.setItem('productID', clicked_id);
        var CompanyId = sessionStorage.getItem('companyID');
        $.post("/ItemsToSuppliers/UndoItemAdd", {
            "ID": clicked_id
        },
        function (response, status) {
            $.post("/PaymentsDeliveries/Delete", {
                "ID": clicked_id
            });
            undoProgress();
        }
        );
    }
    function drop(ev) {
        ev.preventDefault();
        var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
        var supplierID = ev.dataTransfer.getData("Text");
        sessionStorage.setItem('companyID', supplierID);
      //  alert("You dropped " + infor);
        $.post("/ItemsToSuppliers/GetItems", { "SupplierId":supplierID, "JobNumber":jobNumber }, function (data) {
            // get the result and do some magic with it
            // var message = data.Message;
           // $("#dvCenter").fadeOut(500);
           // $("#dvCenter").fadeIn(500);
            $("#dvCenter").html(data);
            document.getElementById("supplierName").innerHTML = "Items list for: " +  supplierID;
        });
    }
    function addProgress() {
        var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
        var customerId = "@Request.QueryString["clientid"]";
        var elem = document.getElementById("listBar");
        var width = 1;
        var id = setInterval(frame, 25);
        function frame() {       
            if (width >= 100) {
                $.post("/ItemsToSuppliers/GetFinalItems", {"CustomerId":customerId , "JobNumber":jobNumber}, function (data) {
                    // get the result and do some magic with it
                    //$("#dropdiv").fadeOut(500);
                    //$("#dropdiv").fadeIn(500);
                    $("#dropdiv").html(data);
                });
                clearInterval(id);
            } else {
                width++;
                elem.textContent = width + '%'
                elem.style.width = width + '%';
            }
        }
    }
    function updateProgress() {
        var CompanyId = sessionStorage.getItem('companyID');
        var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
        var elem = document.getElementById("listBar");
        var width = 1;
        var id = setInterval(frame, 25);
        function frame() {
            if (width >= 100) {
                $.post("/ItemsToSuppliers/GetItems", { "SupplierId": CompanyId, "JobNumber":jobNumber }, function (data) {
                   // $("#dvCenter").fadeOut(500);
                   // $("#dvCenter").fadeIn(500);
                    $("#dvCenter").html(data);
                });
                undoProgress();
                clearInterval(id);

            } else {
                width++;
                elem.textContent = width + '%'
                elem.style.width = width + '%';
            }
        }
    }
    function undoProgress() {
        var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
        var customerId = "@Request.QueryString["clientid"]";
        var elem = document.getElementById("finalListBar");
        var width = 1;
        var id = setInterval(frame, 25);
        function frame() {
            if (width >= 100) {
                 /*   $.post("/ItemsToSuppliers/GetItems", { "SupplierId": CompanyId, "JobNumber": jobNumber }, function (data) {
                    $("#dropdiv").fadeOut(500);
                    $("#dropdiv").fadeIn(500);
                    $("#dropdiv").html(data);
                });
                */
                loadFinalItems();
                clearInterval(id);
            } else {
                width++;
                elem.textContent = width + '%'
                elem.style.width = width + '%';
            }
        }
    }
</script>

<div class="row">
    <div class="col s12 m4 l4">

        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title" style="color:black"><strong>Quoted Suppliers List</strong> &nbsp;&nbsp;<a href="#"><b class="badge email-badge" style="align-content:flex-end;" id="quoteInfor">QUOTE INFO</b></a></span>
                <hr class="hr" />
                <div class="w3-progress-container">
                    <div id="supplierListBar" class="w3-progressbar alert-warning badge progressBar" style="width:100%">
                        <div class="w3-center w3-text-white">You can also drag and drop company to load items</div>
                    </div>
                </div>&nbsp;
                <div id="dvleft">
                  Loading Please Wait.....
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title" style="color:black" id="supplierName"><strong>Items List For Supplier</strong></span>
                <hr class="hr" />
                <div class="w3-progress-container">
                    <div id="listBar" class="w3-progressbar alert-warning badge progressBar" style="width:100%">
                        <div class="w3-center w3-text-white">These are items quoted to selected  supplier. Update cost; and quantity</div>
                    </div>
                </div>&nbsp;
                <div id="supItemsDiv">
                    <div class='row alert alert-info'>
                        <div class='col-lg-4 col-md-4'><b><u>Item Name</u></b></div>
                        <div class='col-lg-2 col-md-2'><b><u>Qty</u></b></div>
                        <div class='col-lg-2 col-md-2'><b><u>Cost/Item</u></b></div>
                    </div>
                    <div id="dvCenter" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>              
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">

        <div class="card darken-1">
            <div class="card-content black-text">
                <center><span class="card-title" style="color:black"><strong>Selected Final List</strong>&nbsp;&nbsp;<a href="#"><b class="badge email-badge" style="align-content:flex-end;" id="sendEmail">EMAIL LIST</b></a></span></center>
                <hr class="hr" />
                <div class="w3-progress-container">
                    <div id="finalListBar" class="w3-progressbar alert-warning badge progressBar" style="width:100%">
                        <div class="w3-center w3-text-white">This display final list created from different suppliers quotes</div>
                    </div>
                </div>&nbsp;
                <div id="dropdiv">
                    <h4>Loading....</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width:100%;
        height:100%;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .items {
        padding:20px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color:burlywood;
        border: 1px solid #888;
    }

    /* Modal Content/Box */
    .modal-content {
        position: center;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        height:inherit;
        overflow:auto;
        border: 1px solid #888;
        width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    /* Modal Header */
    .modal-header {
        padding: 2px 2px;
        background-color: burlywood;
        color: white;
    }

    /* Modal Body */
    .modal-body {
        padding: 2px 16px;
    }

    /* Modal Footer */
    .modal-footer {
        height: 250px;
    }

    /* The Close Button */
    .close {
        color: red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<div id="proofOfRequestModal" class="modal" style="height:100%; width:100%;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-badge badge">
            <div class="modal-header">
                <span class="close" id="proofOfRequestModalClose">×</span>
                <h3>Proof of Request</h3>
            </div>
        </div>
        <br /><p></p>
        <div class="modal-body" id="bodyContent">
            <p>
                <div id="modalWrapper">
                    <div class="row">
                        <div class="col-sm-12"><b>Attach File</b><input type="file" id="uploadFile" name="uploadFile"/></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12"><b>Other Notes</b><input type="text" id="otherNotes" name="otherNotes" value="" /></div>
                    </div>
                </div>
            </p>
            <p align="center"><div id="proofMessage" class="alert-success badge send-badge"><center>Waiting to update...</center></div></p>
           <button type="button" class="alert-info btn-sm" id="btnUpload" style="width:100%; border-style:solid;border-color:peru;">Save Attachment</button>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal"  style="height:100%; width:100%;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-badge badge">
            <div class="modal-header">
                <span class="close">×</span>
                <h3>Update Product</h3>
            </div>
        </div>
        <br /><p></p>
        <div class="modal-body" id="bodyContent">
            <p>
                <div id="modalWrapper">
                    <div class="row">
                        <div class="col-sm-6"><b>Quantity</b><input type="text" id="qty" name="qty" value="" /></div>
                        <div class="col-sm-6"><b>MarkUp(%)</b><input type="text" id="markup" name="markup" value="" onchange="calculateMarkup();" onpaste="this.onchange();" oninput="this.onchange();" /></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"><b>Cost/Item</b><input type="text" id="price" name="price" value=""  onchange="calculateMarkup();" onpaste="this.onchange();" oninput="this.onchange();" /></div>
                        <div class="col-sm-6"><b>Cost/Item(+ MarkUp)</b><input type="text" id="markUpCost" name="markUpCost" value="" /></div>              
                    </div>

                    <div class="row">
                        <div class="col-sm-6"><b>Delivery Date</b><input type="date" class="datepicker" id="ddate" name="ddate" value="" /></div>
                        <div class="col-sm-6"><b>Weight</b><input type="text" id="weight" name="weight" value="" /></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"><b>Width</b><input type="text" id="width" name="width" value="" /></div>
                        <div class="col-sm-6"><b>Height</b><input type="text" id="height" name="height" value="" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"><b>Length</b><input type="text" id="length" name="length" value="" /></div>
                        <div class="col-sm-6"><b>Size</b><input type="text" id="size" name="size" value="" /></div>
                    </div>
                </div>
            </p>
            <p align="center"><div id="mMessage" class="alert-success badge send-badge"><center>Waiting to update...</center></div></p>
            <button type="button" class="alert-info btn-sm" id="updateItemNow"style="width:100%; border-style:solid;border-color:peru;">Click To Update</button>
        </div>              
           
    </div>
</div>
<!-- The Quote Infor Modal -->
<div id="inforModal" class="modal" style="height:100%; width:100%;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-badge badge">
            <div class="modal-header">
                <span class="close" id="closeInfor">×</span>
                <h3>Update Quote</h3>
            </div>
        </div>
        <br /><p></p>
        <div class="modal-body" id="bodyContent">
            <p>
                <div id="modalWrapper">
                    <div class="row">
                        <div class="col-sm-6"><b>Sales ID</b><input type="text" id="salesid" name="salesid" value="" /></div>
                        <div class="col-sm-6"><b>Requested By</b><input type="text" id="reqby" name="reqby" value=""/></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"><b>Validity</b><input type="text" id="validity" name="validity" value=""/></div>
                        <div class="col-sm-6"><b>Ship Date</b><input type="date" class="datepicker" id="sdate" name="sdate" value="" /></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"><b>Delivery</b><input type="text" id="delivery" name="delivery" value="" /></div>
                        <div class="col-sm-6"><b>Project</b><input type="text" id="project" name="project" value="" /></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"><b>Ship Via</b><input type="text" id="ship" name="ship" value="" /></div>
                        <div class="col-sm-6"><b>DDP Point</b><input type="text" id="ddppoint" name="ddppoint" value="" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><b>Payment Terms</b><input type="text" id="terms" name="terms" value="" /></div>                  
                    </div>
                </div>
            </p>
            <p align="center"><div id="mMessage" class="alert-success badge send-badge"><center>Waiting to update...</center></div></p>
            <button type="button" class="alert-info btn-sm" id="updateQuoteNow" style="width:100%; border-style:solid;border-color:peru;">Click To Update</button>
        </div>

    </div>
</div>
<!-- The Modal -->
<div id="emailModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-badge badge">
            <div class="modal-header">
                <span class="close" id="closeMail">×</span>
                <h2>Send Quote Email To Client</h2>
            </div>
        </div>
        <br /><p></p>
        <div class="modal-body" id="bodyContent">
            <button type="button" class="alert-info btn-sm" id="insertList">Insert Items To Document</button> &nbsp; <button type="button" class="alert-info btn-sm" id="sendNow">Send Docx Quote</button>
          &nbsp; <button type="button" class="alert-info btn-sm" id="sendNowPdf">Send Pdf Quote</button>

        </div>
        <p></p>
        <hr />
        <p>
            <div id="emailwrapper">
                    <font color="#FF0000">
                        <script type="text/javascript">
                                    function GetMail(){
                                    var getEmail = sessionStorage.getItem('sendToEmail1');
                                    document.writeln(getEmail);
                                    }

                        </script>
                    </font>.     
                <div id="invoicelist" class="items">

                </div>
            </div>
            <div id="modalWrapper">
                <hr class="hr" />
                <div class="row"><b>Custom Message To Client</b><input type="text" id="customMessage" name="customMessage" value="" placeholder="Enter custom email message here" /></div>
                <div class="row"><b>Enter CC Email Address</b><input type="text" id="ccEmail" name="ccEmail" value="" placeholder="Enter cc email address here" /></div>
            </div>
            <center><div id="mMessageSend" class="alert-success badge send-badge"><center>Waiting to send...</center></div></center>
</div>
    </div>

<script type="text/javascript">
    var span = document.getElementsByClassName("close")[0];
     var modal = document.getElementById('myModal');
     var closeMail = document.getElementById('closeMail');
     var closeInfor = document.getElementById('closeInfor');
     var emailModal = document.getElementById('emailModal');
     var inforModal = document.getElementById('inforModal');
     var supdiv = document.getElementById('dvleft');
     var selectedList = document.getElementById("listBar");
     //Setting action listerners
     // When the user clicks on <span> (x), close the modal
     span.onclick = function () {
         var message = document.getElementById('mMessage');
         var quantity = document.getElementById('qty');
         var price = document.getElementById('price');
         message.textContent = "Waiting to update...";
         quantity.value = "";
         price.value = "";
         modal.style.display = "none";
         updateProgress();
     }
     closeInfor.onclick = function () {
         inforModal.style.display = "none";
     }
     // When the user clicks anywhere outside of the modal, close it
     window.onclick = function (event) {
         if (event.target == modal) {
             modal.style.display = "block";
         }
     }
     // Close Mail Modal
     closeMail.onclick = function ()
     {
         emailModal.style.display = "none";
     }
     proofOfRequestModalClose.onclick = function () {
         proofOfRequestModal.style.display = "none";
     }
     $('#updateItemNow').click(function () {
         var Quantity = $('#qty').val();
         var Cost = $('#price').val();
         var DeliveryDate = $('#ddate').val();
         var Height = $('#height').val();
         var Width = $('#width').val();
         var Weight = $('#weight').val();
         var Length = $('#length').val();
         var Size = $('#size').val();
         var MarkUp = $('#markup').val();
         var MarkUpCost = $('#markUpCost').val();
         var ID = sessionStorage.getItem('productID');
         var TotalCost = Cost * Quantity;
         var message = document.getElementById('mMessage');
      //   alert("Length: " + Length);
        $.post("/ItemsToSuppliers/UpdateItem", {
             "ID": ID,
             "Cost": Cost,
             "Quantity": Quantity,
             "TotalCost": TotalCost,
             "DeliveryDate": DeliveryDate,
             "Height": Height,
             "Width": Width,
             "Weight": Weight,
             "Lngth": Length,
             "Size": Size,
             "MarkUp": MarkUp,
             "MarkUpCost": MarkUpCost
         },
         function (response, status) {
             message.textContent = "Product updated successfully!!";
             $("#mMessage").fadeOut(500);
             $("#mMessage").fadeIn(500);
         }
         );
     });

    //Update Quote Now
     $('#updateQuoteNow').click(function () {
         var JobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         var ClientId="@Request.QueryString["clientid"]";
         var SalesId=$("#salesid").val();
         var ReqBy=$("#reqby").val();
         var Validity=$("#validity").val();
         var Sdate=$("#sdate").val();
         var Delivery=$("#delivery").val();
         var Project=$("#project").val();
         var Ship=$("#ship").val();
         var DdpPoint=$("#ddppoint").val();
         var Terms = $("#terms").val();
         $.post("/ItemsToSuppliers/UpdateQuote", {
             "JobNumber": JobNumber,
             "ClientId" : ClientId,
             "SalesId": SalesId,
             "ReqBy": ReqBy,
             "Validity": Validity,
             "Sdate": Sdate,
             "Delivery": Delivery,
             "Project": Project,
             "Ship": Ship,
             "DdpPoint": DdpPoint,
             "Terms": Terms
         },
          function (response, status) {
              alert("Update successful");
           //   message.textContent = "Quote details updated successfully!!";
           //   $("#mMessage").fadeOut(500);
           //   $("#mMessage").fadeIn(500);
          }
          );
     });
    //End if quote update
     $('#sendEmail').click(function () {
         $("#sendNow").hide();
         $("#sendNowPdf").hide();
         $("#insertList").hide();
         emailModal.style.display = "block";
         $.post("/ItemsToSuppliers/GetModalItems", function (data) {
           //  $("#itemsWrapper").fadeOut(500);
           //  $("#itemsWrapper").fadeIn(500);
             $("#itemsWrapper").html(data);
         });
     });
     $('#quoteInfor').click(function () {
         var JobNumber = "@Url.RequestContext.RouteData.Values["id"]";     
        $.post("/ItemsToSuppliers/GetQuoteDetails", {
             "JobNumber": JobNumber
         },
                  function (response, status) {
                      var salesId = response['SalesId'];
                      var reqBy = response['RequestedBy'];
                      var validity = response['Validity'];
                      var shipDate = response['ShipDate'];
                      var delivery = response['Delivery'];
                      var project = response['Project'];
                      var ship = response['ShipVia'];
                      var ddpPoint = response['DdpPoint'];
                      var terms = response['Terms'];

                      //Put some values here
                      $("#salesid").val(salesId);
                      $("#reqby").val(reqBy);
                      $("#validity").val(validity);
                      $("#sdate").val(shipDate);
                      $("#delivery").val(delivery);
                      $("#project").val(project);
                      $("#ship").val(ship);
                      $("#ddppoint").val(ddpPoint);
                      $("#terms").val(terms);
                      inforModal.style.display = "block";
                  }
                  );
     });
     function loadFinalInvoiceFormats() {
         $.post("/Invoices/SelectFinalInvoiceFormats", function (data) {
           //  $("#invoicelist").fadeOut(500);
           //  $("#invoicelist").fadeIn(500);
             $("#invoicelist").html(data);
         });
     }
     function openProofOfQuoteModal(id) {
        // alert('Clicked id is:' + id);
         sessionStorage.setItem('selectedCompanyId', id);
         proofOfRequestModal.style.display = "block";
     }
     function downloadFile(id) {
         var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         $.post("/ProofOfSuppliersQuotes/DownloadFile", {
             "JobNumber": jobNumber, "CompanyId": id
         },
         function (response, status) {
            
         }
         );
     }
     function calculateMarkup() {
         // alert("Calculate");
         var cost = Number($("#price").val());
         var markup = Number($("#markup").val());
         var totalcost = Number(((markup / 100) * cost) + cost);
        // alert("Cost:" + cost + "Markup: " + markup + "Total: " + totalcost);
         $("#markUpCost").val(totalcost);
     }
     function selectFinalQuote(clicked_format) {
         $("#insertList").show();
         var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         var customerId = "@Request.QueryString["clientid"]";
         sessionStorage.setItem('currentInvoice', clicked_format);
         //alert("You clicked: " + clicked_format);
         $.post("/Invoices/OpenSelectedFinalInvoice", { "InvoiceID": clicked_format, "CompanyID": customerId, "JobNumber": jobNumber });
     }
     // Modal send quote clik clikl event
     $('#sendNow').click(function () {
         var customerId = "@Request.QueryString["clientid"]";
         var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         var customMessage = document.getElementById('customMessage').value;
         var ccEmail = document.getElementById('ccEmail').value;
         $.post("/ReportEmailer/MailFinalQuote", { "JobNumber": jobNumber, "CustomerId": customerId, "CustomMessage": customMessage, "CcEmail": ccEmail });
         alert("Invoice sent to customer successfully");
     });
     $('#sendNowPdf').click(function () {
         var customerId = "@Request.QueryString["clientid"]";
         var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         var customMessage = document.getElementById('customMessage').value;
         var ccEmail = document.getElementById('ccEmail').value;
         $.post("/ReportEmailer/MailFinalQuotePdf", { "JobNumber": jobNumber, "CustomerId": customerId, "CustomMessage": customMessage, "CcEmail": ccEmail });
         alert("Invoice sent to customer successfully");
     });

     // Modal send quote clik clikl event
     $('#insertList').click(function () {
         $("#sendNow").show();
         $("#sendNowPdf").show();
         $("#insertList").hide();
         var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
         var customerId = "@Request.QueryString["clientid"]";
         //Get stored invoice
         var invoiceId = sessionStorage.getItem('currentInvoice');
         $.post("/Invoices/InsertFinalItems", { "InvoiceID": invoiceId, "CompanyID": customerId, "JobNumber": jobNumber });
     });

    $('#btnUpload').click(function () {  
        var jobNumber = "@Url.RequestContext.RouteData.Values["id"]";
        var companyId = sessionStorage.getItem('selectedCompanyId');
        var otherNotes = $('#otherNotes').val();
        // Checking whether FormData is available in browser  
        if (window.FormData !== undefined) {  
  
            var fileUpload = $("#uploadFile").get(0);
            var files = fileUpload.files;  
              
            // Create FormData object  
            var fileData = new FormData();  
  
            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {  
                fileData.append(files[i].name, files[i]);  
            }             
            // Adding one more key to FormData object  
            fileData.append('JobNumber', jobNumber);
            fileData.append('CompanyId', companyId);
            fileData.append('OtherNotes', otherNotes);
  
            $.ajax({  
                url: '/ProofOfSuppliersQuotes/UploadFiles',  
                type: "POST",  
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: fileData,
                success: function (result) {  
                    alert(result);  
                },  
                error: function (err) {  
                    alert(err.statusText);  
                }  
            });  
        } else {  
            alert("FormData is not supported.");  
        }  
    });  
</script>