﻿@model IEnumerable<Kuweza.Models.Customer>

@{
    ViewBag.Title = "Add New Job";
}

<h2>Add New Job</h2>

<p>
    @Html.ActionLink("Create New Customer", "Create", "Customers", null, new { id = 1 }) &nbsp; | &nbsp;@Html.ActionLink("Job List", "Index", "Jobs", null, new { id = 1 })
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessRegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextField1)
        </th>
           <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessRegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextField1)
        </td>
        <td>
            @Html.ActionLink("Create Job", "Create", "Jobs", new { id=item.ID }, null) |
          
        </td>
    </tr>
}

</table>
