﻿@model IEnumerable<Kuweza.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers List</h2>

<p>
    @Html.ActionLink("Create New Customer", "Create") &nbsp;|&nbsp; @Html.ActionLink("Create New Job", "GetAll")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessRegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextField1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress03)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress04)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress05)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress03)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress04)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress05)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessRegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextField1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress01)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress02)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress03)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress04)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress05)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress01)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress02)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress03)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress04)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress05)
        </td>
        <td>            
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
