﻿@model IEnumerable<Kuweza.Models.Item>
@{
    ViewBag.Title = "AllProducts";
}
@{
    Layout = null;
}

@foreach (var item in Model) {  
    
        <li id="@item.ID" draggable="true" ondrag="drag(ev)" ondragstart="dragstart(event)">
            @Html.DisplayFor(modelItem => item.Description)
        </li>  
}
