﻿@model Kuweza.Models.Item

@{
    ViewBag.Title = "Create";
}


<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/msgbox.css" rel="stylesheet">
 <!-- The Modal -->
<div id="myMessage" class="msg">
    <!-- MsgBox content -->
    <div class="msg-content">
            <div class="msg-header">
                <span class="close">×</span>
                <h3>Message</h3>
                <hr />
            </div>   
        <br /><p></p>
        <div class="msg-body" id="msgContent">

        </div>
        <p>
        </p>
    </div>
</div>

    <div class="col s12 m12 l12" > <center >
         <div class="card darken-1" style="width:60%;" >
         <div class="card-content black-text" > 
             <span class="card-title" style="color:black" id="supplierName" > <strong > Add New Items</strong > </span > <p > &nbsp;</p > 
             <div class="row" > <div class="col m6 l6" align="left" > Item Code</div > <div class="col m6 l6" > <input type="text" id="pcode" name="pcode" value="" /> </div > </div >
              <div class="row" > <div class="col m6 l6" align="left" > Description</div > <div class="col m6 l6" > <input type="text" id="pdescription" name="pdescription" value="" /> </div > </div >
              <div class="row" > <div class="col m6 l6" align="left" > Price Exclusive</div > <div class="col m6 l6" > <input type="text" id="price-ex" name="price-ex" value="" /> </div > </div > 
              <div class="row" > <div class="col m6 l6" align="left" > Price Inclusive</div > <div class="col m6 l6" > <input type="text" id="price-inc" name="price-inc" value="" /> </div > </div >
              <div class="row" > <div class="col m6 l6" align="left" > Category</div > <div class="col m6 l6" > <input type="text" id="pcat" name="pcat" value="" /> </div > </div >
              <div class="row" > <div class="col m6 l6" align="left" > &nbsp;</div > <div class="col m6 l6" > <input type="button" id="btnsubmit" name="btnsubmit" value="Add Item" > </div > </div >
              </div > 
        </div > <p > &nbsp;</p > <p > &nbsp;</p > <p > &nbsp;</p > <p > &nbsp;</p > </center >
     </div >
 <script type="text/javascript" > $(document).ready(function () {
     //  some code to show the form is getting ready
 });
     var message = document.getElementById('msgContent');
     var msgframe = document.getElementById('myMessage');
     var span = document.getElementsByClassName("close")[0];
     //Setting action listerners
     // When the user clicks on <span> (x), close the message
     span.onclick = function () {
         msgframe.style.display = "none";
     }
     // When the user clicks anywhere outside of the modal, close it
     window.onclick = function (event) {
         if (event.target == msgframe) {
             msgframe.style.display = "none";
         }
     }
     $('#btnsubmit').click(function () {
        var itemCode = document.getElementById('pcode').value;
        var itemName = document.getElementById('pdescription').value;
        var costInclusive = document.getElementById('price-inc').value;
        var costExclusive = document.getElementById('price-ex').value;
        var itemCategory = document.getElementById('pcat').value;
        // Validation input using javascript

        if ((/^\s*$/).test(itemCode)) {
            message.textContent = "Enter item code";
            msgframe.style.display = "block";          
        }
        else
        if ((/^\s*$/).test(itemName)) {
            message.textContent = "Enter item name";
            msgframe.style.display = "block";
        }
        else
        if ((/^\s*$/).test(costInclusive)) {
            message.textContent = "Enter cost inclusive";
            msgframe.style.display = "block";
        }
        else
        if ((/^\s*$/).test(costExclusive)) {
            message.textContent = "Enter cost exclusive";
            msgframe.style.display = "block";
        }
        else
        if ((/^\s*$/).test(itemCategory)) {
                message.textContent = "Enter item category";
                msgframe.style.display = "block";
        }
        else
            //Now lets call ajax post to insert our values
        {
            $.post("/Items/AddItem", { "ItemCode": itemCode, "ItemName": itemName, "CostInclusive": costInclusive, "CostExclusive": costExclusive, "ItemCategory":itemCategory });
            message.textContent = "Item added successfully";
            msgframe.style.display = "block";
        }
    });
    </script >
