﻿@model IEnumerable<Kuweza.Models.Item>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceExclusive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceInclusive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextUserField1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumericUserField1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumericUserField2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumericUserField3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextUserField2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceExclusive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceInclusive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextUserField1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumericUserField1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumericUserField2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumericUserField3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextUserField2)
        </td>
        <td>

            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>