﻿@model IEnumerable<Kuweza.Models.Item>

@{
    ViewBag.Title = "Update";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/msgbox.css" rel="stylesheet">
<style>
    .ui-autocomplete {
        cursor: pointer;
        height: 120px;
        overflow-y: scroll;
    }

    .editdiv {
        width: auto;
        height: 300px;
        padding-bottom: 50px;
    }

    .deletediv {
        width: auto;
        height: 300px;
        padding-bottom: 50px;
    }

    .itemdiv {
        width: auto;
        height: 300px;
        padding-bottom: 50px;
    }

    .button-width {
        width: 100%;
        height: 50px;
    }
</style>
<!-- The Modal -->
<div id="myMessage" class="msg">
    <!-- MsgBox content -->
    <div class="msg-content">
        <div class="msg-header">
            <span class="close">×</span>
            <h3>Message</h3>
            <hr />
        </div>
        <br /><p></p>
        <div class="msg-body" id="msgContent">

        </div>
        <p>
        </p>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <font color="#689000"><center><h2>Update Items</h2></center></font>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="row col-lg-3">
                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Items List</h3><hr />
                        <div id="itemlist" class="itemdiv">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-7">

                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Drop to edit</h3><hr />
                        <div id="edititem" class="editdiv" ondrop="drop(event)" ondragover="allowDrop(event)">


                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-2">
                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Delete</h3><hr />
                        <div id="del" class="deletediv" ondrop="delitem(event)" ondragover="allowDrop(event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
       itemsList();
    })
    function itemsList() {
        $.post("/Items/GetItemList", function (data) {
            $("#itemlist").fadeOut(500);
            $("#itemlist").fadeIn(500);
            $("#itemlist").html(data);
        });
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.id);
    }
    function dragstart(event) {
        event.dataTransfer.setData("Text", event.target.id);
        event.dataTransfer.setData("ItemName", event.target.textContent);
    }
    function drop(ev) {
        ev.preventDefault();
        var itemID = ev.dataTransfer.getData("Text");
      // alert("You dropped " + customerID);
      $.post("/Items/EditItem", { "ItemId": itemID }, function (data) {
            // get the result and do some magic with it
            // var message = data.Message;
            $("#edititem").fadeOut(10);
            $("#edititem").fadeIn(10);
            $("#edititem").html(data);
        });
    }
    function editItem(ID) {
        $.post("/Items/EditItem", { "ItemId": ID }, function (data) {
            // get the result and do some magic with it
            // var message = data.Message;
            $("#edititem").fadeOut(10);
            $("#edititem").fadeIn(10);
            $("#edititem").html(data);
        });
    }
    function delitem(ev) {
        ev.preventDefault();
        var itemID = ev.dataTransfer.getData("Text");
        var item= ev.dataTransfer.getData("ItemName");

        var r = confirm("Are you sure you wan to delete: " + item);
        if (r == true) {
            $.post("/Items/DeleteItem", { "ItemId": itemID });
            alert("Item deleted successfully");
            itemsList();
        } else {
            alert("Delete aborted!")
        }
    }
    var message = document.getElementById('msgContent');
    var msgframe = document.getElementById('myMessage');
    var span = document.getElementsByClassName("close")[0];
    //Setting action listerners
    // When the user clicks on <span> (x), close the message
    span.onclick = function () {
        msgframe.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == msgframe) {
            msgframe.style.display = "none";
        }
    }
    function updateItem(ID) {
        var itemCode = document.getElementById('pcode').value;
        var itemName = document.getElementById('pdescription').value;
        var costInclusive = document.getElementById('price-inc').value;
        var costExclusive = document.getElementById('price-ex').value;
        var itemCategory = document.getElementById('pcat').value;
        // Validation input using javascript

        if ((/^\s*$/).test(itemCode)) {
            message.textContent = "Enter item code";
            msgframe.style.display = "block";
        }
        else
            if ((/^\s*$/).test(itemName)) {
                message.textContent = "Enter item name";
                msgframe.style.display = "block";
            }
            else
                if ((/^\s*$/).test(costInclusive)) {
                    message.textContent = "Enter cost inclusive";
                    msgframe.style.display = "block";
                }
                else
                    if ((/^\s*$/).test(costExclusive)) {
                        message.textContent = "Enter cost exclusive";
                        msgframe.style.display = "block";
                    }
                    else
                        if ((/^\s*$/).test(itemCategory)) {
                            message.textContent = "Enter item category";
                            msgframe.style.display = "block";
                        }
                        else
                            //Now lets call ajax post to update our values
                        {
                            $.post("/Items/UpdateItem", {"ID":ID, "ItemCode": itemCode, "ItemName": itemName, "CostInclusive": costInclusive, "CostExclusive": costExclusive, "ItemCategory": itemCategory });
                            message.textContent = "Item updated successfully";
                            msgframe.style.display = "block";
                        }
    };
</script>