﻿.msg {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 230px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
    }

    .msg-content {
        position: center;
        background-color: #fefefe;
        margin: auto;
        padding: 10px;
        padding-right:0px;
        padding-top:0px;
        border: 1px solid #0094ff;
        width: 30%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    /* Message Header */
    .msg-header {
        padding: 0px 0px;
        color: brown;
    }

    /* Message Body */
    .msg-body {
        padding: 2px 5px;
    }

    /* The Close Button */
    .close {
        color: red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        /* The Close Button */
    .closex {
        color: red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .closex:hover,
        .closex:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
