﻿@model IEnumerable<Kuweza.Models.Invoice>
@{
    ViewBag.Title = "Creat a template";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<style>
    .ui-autocomplete {
        cursor: pointer;
        height: 120px;
        overflow-y: scroll;
    }

    .listdiv {
        width: auto;
        height: 240px;
        padding-bottom: 50px;
     
    }

    .opendocdiv {
        width: auto;
        height: 240px;
        padding-bottom: 50px;
     
    }

    .importdiv {
        width: auto;
        height: 240px;
        padding-bottom: 50px;
    }
     .button-width {
    width: 100%;
    height:50px;
}
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <font color="#689000"><center><h2>Create Template Format</h2></center></font>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="row col-lg-4">
                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Template Name</h3><hr />
                        <div id="importform" class="importdiv">
                            <div class="row">
                                <input type="text" id="saveas" name="saveas" placeholder="Save template as" />             
                                <input type="text" id="cat" name="cat" placeholder="Eg: Invoice or Quote" />
                              </div>
                            <div class="row"><button type="button" class="alert-info button-width" id="btnImport" name="btnImport">Create Doc</button></div>
                            <center><div id="mMessage" class="badge"><center>Waiting to create...</center></div></center>
</div>
                           
                        </div>
                    </div>
                </div>
            <div class="row col-lg-4">

                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Available Formats</h3><hr />
                        <div id="invoicelist" class="listdiv">

                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-4">
                <div class="card darken-1">

                    <div class="card-content black-text">
                        <h3>Drop to delete</h3><hr />
                        <div id="del" class="opendocdiv" ondrop="openItem(event)" ondragover="allowDrop(event)">
                            <FONT color="#FF000"> <P>CLICK TEMPLATE NAME TO EDIT</P></FONT>&nbsp;
                           <font color="#F729290"><p>Open you document at paste</p><p><font color="#FF000"><b> P*TL0*01</b></font></p><p> where you want to populate items</p></font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
       // $("#invoicelist").load('/Invoices/ViewInvoiceFormats');
       loadInvoiceFormats();

    })
    function loadInvoiceFormats() {
        $.post("/Invoices/GetInvoiceFormats", function (data) {
            $("#invoicelist").fadeOut(500);
            $("#invoicelist").fadeIn(500);
            $("#invoicelist").html(data);
        });
    }
    function openSampleDoc(id) {
        //Open Sample Doc OnClick
        $.post("/Invoices/OpenSampleFile", { "id": id });
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {
        ev.dataTransfer.setData("ID", ev.target.id);
    }
    function dragstart(event) {
       // ev.dataTransfer.setData("Text", ev.target.id);
        event.dataTransfer.setData("Text", event.target.textContent);
        event.dataTransfer.setData("ID", event.target.id);
    }
    function openItem(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("ID");
        var id = $.trim(data);
        $.post("/Invoices/DeleteSampleFile", { "id": id }, function (response, status) { loadInvoiceFormats() });
    }
    $('#btnImport').click(function () {
        var saveas = document.getElementById('saveas').value;
        var message = document.getElementById('mMessage');
        var cat = document.getElementById('cat').value;
        if ((/^\s*$/).test(saveas)) {
            message.textContent = "Enter name to save your invoice. ";         
        }
        else{
        var fname = saveas + ".docx";
        $.post("/Invoices/ImportFile", { "fileName": fname, "invoiceCat": cat });
        addProgress();
        }
        //loadInvoiceFormats();
    });
    function addProgress() {
        var elem = document.getElementById("mMessage");
        var width = 1;
        var id = setInterval(frame, 25);
        function frame() {
            if (width >= 100) {
                loadInvoiceFormats();
                clearInterval(id);
                elem.textContent = "Template created successfully successful";
            } else {
                width++;
                elem.textContent = width + '%';
                elem.style.width = width + '%';
            }
        }
    }
</script>