﻿@model IEnumerable<Kuweza.Models.Invoice>

@{
    Layout = null;
}

<table class="table">
    
    @foreach (var item in Model)
    {
        <tr>
            <td draggable="true" ondrag="drag(ev)" ondragstart="dragstart(event)">
                @Html.DisplayFor(modelItem => item.InvoiceName)
            </td>
        </tr>
    }
</table>