﻿@using Kuweza.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col s7 offset-s4">
        <h2>@ViewBag.Title.</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col s7", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s7">
                            <i class="material-icons prefix">account_circle</i>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "validate" })
                            @Html.ValidationMessageFor(m => m.UserName)
                            @Html.LabelFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s7">
                            <i class="material-icons prefix">verified_user</i>
                            @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                            @Html.ValidationMessageFor(m => m.Password)
                            @Html.LabelFor(m => m.Password)
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-md-offset-2 input-field col s7">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-offset-2 input-field col s7">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Login
                                <i class="material-icons">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}